{% extends "mainfinal.html" %}
{% block content %}
<section id="contact">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Contact</h3>
      <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nibh sapien, mattis sed ligula nec, lacinia aliquam metus.</p>
    </div>
  </div>
  <section id="pricing" class="wow fadeInUp section-bg">

    <div class="container">

      <header class="section-header">
        <h3>Upcoming events</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </header>

      <div class="row flex-items-xs-middle flex-items-xs-center">

        <!-- Basic Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span>Event </span>1</h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Description
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Odio animi voluptates</li>
                <li class="list-group-item">Inventore quisquam et</li>
                <li class="list-group-item">Et perspiciatis suscipit</li>
                <li class="list-group-item">24/7 Support System</li>
              </ul>
              <a href="https://forms.gle/Z5BbCuSFHga188xN7" target="_blank" class="btn">Register</a>
            </div>
          </div>
        </div>

        <!-- Regular Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span>Event </span>2</h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Description
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Odio animi voluptates</li>
                <li class="list-group-item">Inventore quisquam et</li>
                <li class="list-group-item">Et perspiciatis suscipit</li>
                <li class="list-group-item">24/7 Support System</li>
              </ul>
              <a href="https://forms.gle/Z5BbCuSFHga188xN7" target="_blank" class="btn">Register</a>
            </div>
          </div>
        </div>
        <!-- Premium Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span>Event </span>3</h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Description
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Odio animi voluptates</li>
                <li class="list-group-item">Inventore quisquam et</li>
                <li class="list-group-item">Et perspiciatis suscipit</li>
                <li class="list-group-item">24/7 Support System</li>
              </ul>
              <a href="https://forms.gle/Z5BbCuSFHga188xN7" target="_blank" class="btn">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #pricing --><br>

  <!-- <section class="wow fadeInUp section-bg"> -->
  <section>

    <div class="container">

      <header class="section-header">
        <h3>Find us at</h3>
      </header>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.6433229747!2d72.74109780863927!3d19.08252232377542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1604934462227!5m2!1sen!2sin" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
    <!-- <div class="container wow fadeInUp mt-5">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>A108 Adam Street<br>New York, NY 535022</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>info@example.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+1 5589 55488 55s</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook" ></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram" ></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div> -->

        <!-- <div class="col-lg-6">

          <div class="form">

            <h4>Send us a message</h4>
            <p>Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi harum aut temporibus.</p>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
            </form>
          </div>

        </div> -->

      </div>

    </div>
  </section><!-- #contact -->
{% endblock content %}