{% extends "mainfinal.html" %}
{% block content %}

<br><br>

 <header class="section-header">
          <h3>Gallery</h3>
          <hr>
        </header>


<main class="main-wrapper" id="container">

  <!-- image Gallery -->

  <div class="wrapper">
    <div class="">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3 masonry">
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img1.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img2.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img3.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img4.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img5.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img6.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img7.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img8.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img9.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img10.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img1.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img2.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img3.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img4.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>

        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img5.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img6.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
         <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img7.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
         <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img8.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
               </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="{{ url_for('static', filename='img/portfolio/img8.jpg') }}" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </figcaption>
          </figure>
        </li>
       
      </ul>
    </div>
  </div>
</main>

<!-- Image Gallery -->

{% endblock content %}
