{% extends "layout2.html" %}
{% block layout2 %}
<div class="col-12">
   <header class="section-header">
          <h3>Impact</h3>
          <hr>
         
</header>
<!--Carousel Wrapper-->
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#video-carousel-example" data-slide-to="1"></li>
    <li data-target="#video-carousel-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <video class="video-fluid" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="carousel-item">
      <video class="video-fluid" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="carousel-item">
      <video class="video-fluid" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/Agua-natural.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--Carousel Wrapper-->

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>
</div>
<br><br><br><br>
<div class="col-12" style="text-align: center;">
  <header class="section-header">
    <h3>Some articles on us</h3>
    <hr>
</header>
</div>
<br><br>
<div class="row">
	<div class="col-4">
		<div class="card" style="width: 30rem; object-fit: cover;">
  			<img class="card-img-top" src="https://www.usnews.com/dims4/USNEWS/350413d/2147483647/thumbnail/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fad%2Fed%2Fde8898f34ecc80076ef7abb652a9%2F190911-venturecapital-stock.jpg" alt="Card image cap">
  			<div class="card-body">
    		<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nibh sit amet mi sagittis condimentum. Ut ac ornare diam, at dapibus ipsum. Sed fringilla metus ut tellus mattis,</p>
  			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card" style="width: 30rem; object-fit: cover;">
  			<img class="card-img-top" src="https://image.freepik.com/free-photo/indian-farmer-field_75648-189.jpg" alt="Card image cap" >
  			<div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nibh sit amet mi sagittis condimentum. Ut ac ornare diam, at dapibus ipsum. Sed fringilla metus ut tellus mattis,</p>
  			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card" style="width: 30rem; object-fit: cover;">
  			<img class="card-img-top" src="https://image.freepik.com/free-photo/indian-farmer-field_75648-189.jpg" alt="Card image cap" >
  			<div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nibh sit amet mi sagittis condimentum. Ut ac ornare diam, at dapibus ipsum. Sed fringilla metus ut tellus mattis,</p>
  			</div>
		</div>
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-4">
		<div class="card" style="width: 30rem; object-fit: cover;">
  			<img class="card-img-top" src="https://www.usnews.com/dims4/USNEWS/350413d/2147483647/thumbnail/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fad%2Fed%2Fde8898f34ecc80076ef7abb652a9%2F190911-venturecapital-stock.jpg" alt="Card image cap" style="object-fit: cover;">
  			<div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nibh sit amet mi sagittis condimentum. Ut ac ornare diam, at dapibus ipsum. Sed fringilla metus ut tellus mattis,</p>
  			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card" style="width: 30rem; object-fit: cover;">
  			<img class="card-img-top" src="https://images.unsplash.com/photo-1535074153497-b08c5aa9c236?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2aaf944a59f16fe1fe72f5057b3a7dd&auto=format&fit=crop&w=500&q=80" alt="Card image cap">
  			<div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nibh sit amet mi sagittis condimentum. Ut ac ornare diam, at dapibus ipsum. Sed fringilla metus ut tellus mattis,</p>
  			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card" style="width: 30rem;object-fit: cover;">
  			<img class="card-img-top" src="https://images.unsplash.com/photo-1535074153497-b08c5aa9c236?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2aaf944a59f16fe1fe72f5057b3a7dd&auto=format&fit=crop&w=500&q=80" alt="Card image cap" >
  			<div class="card-body" object-fit: cover;>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nibh sit amet mi sagittis condimentum. Ut ac ornare diam, at dapibus ipsum. Sed fringilla metus ut tellus mattis,</p>
  			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block layout3 %}
<div class="card mb-3" style="max-width: 18rem;margin-top: 30px; background-color: #1bb1dc; color: 
#fff;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card mb-3" style="max-width: 18rem;margin-top: 30px; background-color: #1bb1dc; color: 
#fff;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
{% endblock %}