{% extends "mainfinal.html" %}

{% block content %}
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>We value<br>Your <span>Presence!</span></h2>
          <div>
            <a href="{{ url_for('newsletter') }}" class="btn-get-started scrollto">Newsletter</a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="{{ url_for('static', filename='images/bg..jpg') }}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->
  <br><br>

  <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="{{ url_for('static', filename='img/about.jpg') }}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              <h3>Odio sed id eos et laboriosam consequatur eos earum soluta.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>Aut dolor id. Sint aliquam consequatur ex ex labore. Et quis qui dolor nulla dolores neque. Aspernatur consectetur omnis numquam quaerat. Sed fugiat nisi. Officiis veniam molestiae. Et vel ut quidem alias veritatis repudiandae ut fugit. Est ut eligendi aspernatur nulla voluptates veniam iusto vel quisquam. Fugit ut maxime incidunt accusantium totam repellendus eum error. Et repudiandae eum iste qui et ut ab alias.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->

    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Values</h3>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title">Development</h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title">Community Bonding</h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title">Empowerment</h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur quis nostrud exercitation</p>
            </div>
          </div>

        </div>

      </div>
    </section>


<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Gallery</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Event 1</li>
              <li data-filter=".filter-card">Event 2 </li>
              <li data-filter=".filter-web">Event 3</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img1.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color: white;">App 1</h4>
                <p>App</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img1.jpg') }}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
               
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img2.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
               <h4 style="color: white;">Web 3</h4>
                <p>Web</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img2.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img3.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
               <h4 style="color: white;">App 2</h4>
                <p>App</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img3.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img4.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color: white;">Card 2</h4>
                <p>Card</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img4.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img5.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color: white;">Web 2</h4>
                <p>Web</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img5.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                   
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img6.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
               <h4 style="color: white;">App 3</a></h4>
                <p>App</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img6.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img7.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
               <h4 style="color: white;">Card 1</a></h4>
                <p>Card</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img7.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img8.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color: white;">Card 3</h4>
                <p>Card</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img8.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img9.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
               <h4 style="color: white;">Web 1</h4>
                <p>Web</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img9.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/portfolio/img10.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
               <h4 style="color: white;">Web 1</h4>
                <p>Web</p>
                <div>
                  <a href="{{ url_for('static', filename='img/portfolio/img10.jpg') }}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Accrediations</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">

              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="testimonial-img" alt="">
                <h3>Sourav Kumar</h3>
                <h4>CEO</h4>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="testimonial-img" alt="">
                <h3>Gitika Jha</h3>
                <h4>Team Member</h4>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="testimonial-img" alt="">
                <h3>Manashree Jhawar</h3>
                <h4>Team Member</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="testimonial-img" alt="">
                <h3>Vedant Manelkar</h3>
                <h4>Team Member</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->


    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Founders</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sourav Kumar</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Gitika Jha</h4>
                  <span>Team Member</span>
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Vedant Manelkar</h4>
                  <span>Team Member</span>
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Manashree Jhawar</h4>
                  <span>Team Member</span>
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Partners</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="{{ url_for('static', filename='img/clients/client-1.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-2.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-3.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-4.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-5.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-6.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-7.png') }}" alt="">
          <img src="{{ url_for('static', filename='img/clients/client-8.png') }}" alt="">
        </div>

      </div>
    </section><!-- #clients -->


    <!--==========================
      Pricing Section
    ============================-->
    

<!-- <br><br>

<div class="newsletter">
  <div class="text-center" >

  </div>
</div>

<br> -->

<!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.6433229747!2d72.74109780863927!3d19.08252232377542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1604934462227!5m2!1sen!2sin" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

    </section><!-- #contact -->

    
<!-- This gonna be the newsletter wala -->
<section class="wow fadeInUp">
  <div class="container">

    <header class="section-header">
      <h3>Would you like to stay connected?</h3>
    </header>

<!-- <div class="text-center" style="font-size: 40px; font-family: Poppins;">Would you like to stay connected?</div> <br> -->
<div class="text-center"><button class="btn btn-primary" style="background-color: #1bb1dc"><a href="{{ url_for('newsletter') }}" style="color: #fff; background-color: #1bb1dc ;">Subscribe to the newsletter</a></button></div>
  </div> 
</section>

<br>
<br>
{% endblock content%}
