{% extends "layout.html" %}

{% block content %}
  <div class="registration-form">
        <header>
          <header class="section-header">
            <h3>Newsletter</h3>
          </header>

            <p>Fill in all informations to get notified for our future endevours </p>
            <link rel="stylesheet" type="text/css" href="css/newsletter.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        </header>
        <form method="POST" action="">
          {{ form.hidden_tag() }}
            <div class="input-section email-section"><input  type="email" onblur="validateEmail(this);" class="email" placeholder="ENTER YOUR E-MAIL HERE" required="enter email" name = "email">
                <div class="animated-button"><span class="icon-paper-plane"><i class="fa fa-envelope-o"></i></span><span class="next-button email"><i class="fa fa-arrow-up"></i></span></div>
            </div>
            <div class="input-section password-section folded"><input class="password" type="text" placeholder="ENTER YOUR NAME HERE" required="enter name" name = "name"/>
              <div class="animated-button"><span class="icon-lock"><i class="fa fa-share-square"></i></span> <span class="next-button repeat-password"><button style="background-color: transparent; border: none", class = "submit"><i class="fa fa-arrow-up"></i></button></span></div>
            </div>

            <div class="success", style="background-color: #1bb1dc; padding: 5%;">
                <p>THANK YOU</p>
            </div>
        </form>
    </div>
    <br><br><br><br><br><br><br><br>  <br><br><br><br><br><br><br><br>
     <br><br><br><br><br><br><br><br>  <br><br>

     <link rel="stylesheet" type="text/css" href="css/newsletter.css">

   {% endblock content %}
