{% extends "layout2.html" %}
{% block layout2 %}
<div class="col-12">
   <header class="section-header">
          <h3>Reach and Presence</h3>
          <hr>
         
</header>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla sodales dolor, a dictum felis aliquam eget. Sed scelerisque arcu sed justo convallis ultrices. Proin vel tincidunt purus. Etiam viverra mollis maximus. Quisque vulputate felis lacus, vitae convallis tellus volutpat sit amet. Sed quis lorem eu augue consectetur finibus eu at ipsum. Proin non gravida elit. Suspendisse eu augue in ex mollis condimentum non sit amet nunc. Sed facilisis erat magna, vel varius tellus tempus eget. Ut sed lectus sed justo scelerisque vestibulum.
  </p>

<table class="table">
  <thead class="table" style= "background-color: #9fccee; color: #222">
    <tr>
      <th scope="col">#</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Office</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Maharashtra</td>
      <td>Bombay</td>
      <td>Bombay</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bihar</td>
      <td>Patna</td>
      <td>Patna</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Rajasthan</td>
      <td>Udaipur</td>
      <td>Udaipur</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Uttar Pradesh</td>
      <td>Lucknow</td>
      <td>Lucknow</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Jharkhand</td>
      <td>Ranchi</td>
      <td>Ranchi</td>
    </tr>
    
  </tbody>
</table>
</div>
<br><br>
<header class="section-header">
  <h3>Find us at</h3>
  <hr>
</header>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.6433229747!2d72.74109780863927!3d19.08252232377542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1604934462227!5m2!1sen!2sin" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock %}

