{% extends "mainfinal.html" %}
{% block content %}
<!-- idar daalo-->
<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h3>Founders</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sourav Kumar</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Gitika Jha</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Vedant Manelkar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Manashree Jhawar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- # Founders team -->

<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h3>Management</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sourav Kumar</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Gitika Jha</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Vedant Manelkar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Manashree Jhawar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Gitika Jha</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Vedant Manelkar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Manashree Jhawar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sourav Kumar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- #Management team -->


<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h3>Volunteers</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sourav Kumar</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Gitika Jha</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Vedant Manelkar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Manashree Jhawar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Gitika Jha</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Vedant Manelkar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Manashree Jhawar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sourav Kumar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sourav Kumar</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Gitika Jha</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Vedant Manelkar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Manashree Jhawar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img src="{{ url_for('static', filename='img/sou.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sourav Kumar</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/gitika.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Gitika Jha</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/ved.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Vedant Manelkar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="{{ url_for('static', filename='img/Man.jpeg') }}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Manashree Jhawar</h4>
              <span>Team Member</span>
              <div class="social">
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- #Volunteers team -->





{% endblock content %}
