{% extends "layout2.html" %}
{% block layout2 %}

<div class="col-12">
 <section id="services" class="section-bg" style="background-color: #FFF;">

      <div class="container" style="width: 100%;">
        

     <header class="section-header">
          <h3>Vision and Mision</h3>
        </header><hr>

        <div class="row">

          <div class="col-md-8 col-lg-12 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Vision</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non providentKatheryn Elizabeth Hudson was born in Santa Barbara, California, to Pentecostal pastors Mary Christine (née Perry) and Maurice Keith Hudson.[1][2] Her parents are born again Christians, each having turned to religion after a "wild youth".[3] Perry has English, German, Irish, and Portuguese ancestry.[4] Through her mother, she is a niece of film director Frank Perry.[5] She has a younger brother named David, who is a singer,[6] and an older sister, Angela.[7]

From ages 3 to 11, Perry often moved across the country as her parents set up churches before settling again in Santa Barbara. Growing up, she attended religious schools and camps, including Paradise Valley Christian School in Arizona and Santa Barbara Christian School in California during her elementary years.[2][8] Her family struggled financially,[9] sometimes using food stamps and eating food from the food bank which also fed the congregation at Perry's parents' church</p>
            </div>
          </div>
            
         
          <div class="col-md-8 col-lg-12 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Mission</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ataKatheryn Elizabeth Hudson was born in Santa Barbara, California, to Pentecostal pastors Mary Christine (née Perry) and Maurice Keith Hudson.[1][2] Her parents are born again Christians, each having turned to religion after a "wild youth".[3] Perry has English, German, Irish, and Portuguese ancestry.[4] Through her mother, she is a niece of film director Frank Perry.[5] She has a younger brother named David, who is a singer,[6] and an older sister, Angela.[7]

From ages 3 to 11, Perry often moved across the country as her parents set up churches before settling again in Santa Barbara. Growing up, she attended religious schools and camps, including Paradise Valley Christian School in Arizona and Santa Barbara Christian School in California during her elementary years.[2][8] Her family struggled financially,[9] sometimes using food stamps and eating food from the food bank which also fed the congregation at Perry's parents' church</p>
            </div>
          </div>

         
      </div>
    </section>
</div>
</div>
</div>
<br>
  
{% endblock %}
<br>

