{% extends "layout2.html" %}
{% block layout2 %}
<div class="col-12">
   <header class="section-header">
          <h3>Visioners</h3>      
        </header><hr>

  <div class="container py-3">
  <div class="title h1 text-center"></div>
  <!-- Card Start -->
  <div class="card">
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title" style="font-size: 30px;">Gitika Jha</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla sodales dolor, a dictum felis aliquam eget. Sed scelerisque arcu sed justo convallis ultrices. Proin vel tincidunt purus. Etiam viverra mollis maximus. Quisque vulputate felis lacus, vitae convallis tellus volutpat sit amet. Sed quis lorem eu augue consectetur finibus eu at ipsum. Proin non gravida elit. Suspendisse eu augue in ex mollis condimentum non sit amet nunc. Sed facilisis erat magna, vel varius tellus tempus eget. Ut sed lectus sed justo scelerisque vestibulum. In nibh sapien, mattis sed ligula nec, lacinia aliquam metus. Suspendisse placerat lacus eget nulla pharetra pulvinar. Vivamus a volutpat urna. Sed pretium vel lacus non pretium. In hac habitasse platea dictumst.
          </p>
          <br>
        </div>
      </div>
      <!-- Carousel start -->
      <div class="col-md-5">
        <div id="CarouselTest" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="{{ url_for('static', filename='img/gitika.jpeg') }}"  alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- End of carousel -->
    </div>
  </div>
</div>
<!--1-->


<div class="container py-3">
  <div class="title h1 text-center"></div>
  <!-- Card Start -->
  <div class="card">
    <div class="row ">
       <div class="col-md-5">
        <div id="CarouselTest" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="{{ url_for('static', filename='img/Man.jpeg') }}" alt="">
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title" style="font-size: 30px;">Manashree Jhawar</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla sodales dolor, a dictum felis aliquam eget. Sed scelerisque arcu sed justo convallis ultrices. Proin vel tincidunt purus. Etiam viverra mollis maximus. Quisque vulputate felis lacus, vitae convallis tellus volutpat sit amet. Sed quis lorem eu augue consectetur finibus eu at ipsum. Proin non gravida elit. Suspendisse eu augue in ex mollis condimentum non sit amet nunc. Sed facilisis erat magna, vel varius tellus tempus eget. Ut sed lectus sed justo scelerisque vestibulum. In nibh sapien, mattis sed ligula nec, lacinia aliquam metus. Suspendisse placerat lacus eget nulla pharetra pulvinar. Vivamus a volutpat urna. Sed pretium vel lacus non pretium. In hac habitasse platea dictumst.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
<!-- 2 -->


<div class="container py-3">
  <div class="title h1 text-center"></div>
  <!-- Card Start -->
  <div class="card">
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title" style="font-size: 30px;">Vedant Manelkar</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla sodales dolor, a dictum felis aliquam eget. Sed scelerisque arcu sed justo convallis ultrices. Proin vel tincidunt purus. Etiam viverra mollis maximus. Quisque vulputate felis lacus, vitae convallis tellus volutpat sit amet. Sed quis lorem eu augue consectetur finibus eu at ipsum. Proin non gravida elit. Suspendisse eu augue in ex mollis condimentum non sit amet nunc. Sed facilisis erat magna, vel varius tellus tempus eget. Ut sed lectus sed justo scelerisque vestibulum. In nibh sapien, mattis sed ligula nec, lacinia aliquam metus. Suspendisse placerat lacus eget nulla pharetra pulvinar. Vivamus a volutpat urna. Sed pretium vel lacus non pretium. In hac habitasse platea dictumst.
          </p>
          <br>
        </div>
      </div>
      <!-- Carousel start -->
      <div class="col-md-5">
        <div id="CarouselTest" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="{{ url_for('static', filename='img/ved.jpeg') }}"  alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- End of carousel -->
    </div>
  </div>
</div>
<!--3-->

<div class="container py-3">
  <div class="title h1 text-center"></div>
  <!-- Card Start -->
  <div class="card">
    <div class="row ">
       <div class="col-md-5">
        <div id="CarouselTest" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="{{ url_for('static', filename='img/sou.jpeg') }}" alt="">
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title" style="font-size: 30px;">Sourav Kumar</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla sodales dolor, a dictum felis aliquam eget. Sed scelerisque arcu sed justo convallis ultrices. Proin vel tincidunt purus. Etiam viverra mollis maximus. Quisque vulputate felis lacus, vitae convallis tellus volutpat sit amet. Sed quis lorem eu augue consectetur finibus eu at ipsum. Proin non gravida elit. Suspendisse eu augue in ex mollis condimentum non sit amet nunc. Sed facilisis erat magna, vel varius tellus tempus eget. Ut sed lectus sed justo scelerisque vestibulum. In nibh sapien, mattis sed ligula nec, lacinia aliquam metus. Suspendisse placerat lacus eget nulla pharetra pulvinar. Vivamus a volutpat urna. Sed pretium vel lacus non pretium. In hac habitasse platea dictumst.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
<!-- 3 -->
</div>
</div> 
</div>   
</div>
</div>
{% endblock %}

